body {
  background-color: gray;
}

h1 {
  background-color: red;
  font-size: 50px;
  color: white;
}

p {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section {
  background-color: whitesmoke;
  
}

img {
  border: 20px solid #444;
  max-height: 250px;
  max-width: 50%;
  margin: 1.5%;
  vertical-align: middle;
}

li {
  list-style: none;
  padding: 5px;
  border-radius: 15px;
  margin: 5px;
  width: 85%;
}